---
option_settings:
  aws:elasticbeanstalk:application:environment:
    RACK_ENV: deploy
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: HTTP:8080/
  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
    LoadBalancerType: application
    ServiceRole: aws-elasticbeanstalk-service-role
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckInterval: 60
    Port: 8080
    Protocol: HTTP
    MatcherHTTPCode: 200
  aws:elasticbeanstalk:command:
    DeploymentPolicy: RollingWithAdditionalBatch
    BatchSizeType: Fixed
    BatchSize: 1
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: true
    RetentionInDays: 7

